<img
  class="collection-card"
  (click)="displayModal = true"
  src="assets/images/cards/{{ card.card_id }}.jpg"
  [alt]="card.card_name"
  loading="lazy"
/>

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [dismissableMask]="true"
  [showHeader]="false"
  [draggable]="false"
  [closable]="true"
  appendTo="body"
>
  <img
    src="assets/images/cards/{{ card.card_id }}.jpg"
    [alt]="card.card_name"
    loading="lazy"
  />
  <div>Set Name</div>
  <div class="text-center mt-3">card.set_rarity</div>
</p-dialog>
