<div class="card-container" (click)="displayModal = true">
  <img
    class="img-fluid"
    src="assets/images/cards/105_153/{{ card.card_id }}.jpg"
    [alt]="card.card_name"
    loading="lazy"
  />
  <div class="centered">{{ card.copies }}</div>
</div>

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [dismissableMask]="true"
  [showHeader]="false"
  [draggable]="false"
  [closable]="true"
  appendTo="body"
>
  <img
    src="assets/images/cards/{{ card.card_id }}.jpg"
    [alt]="card.card_name"
    loading="lazy"
  />
</p-dialog>
