<div class="pack-card">
  <div (click)="onCardClicked()">
    <div class="rarity">
      <img
        *ngIf="card.md_rarity === 'Common'"
        src="assets/images/icons/Common.webp"
        alt="Common"
      />
      <img
        *ngIf="card.md_rarity === 'Rare'"
        src="assets/images/icons/Rare.webp"
        alt="Rare"
      />
      <img
        *ngIf="card.md_rarity === 'Super Rare'"
        src="assets/images/icons/SR.webp"
        alt="Super Rare"
      />
      <img
        *ngIf="card.md_rarity === 'Ultra Rare'"
        src="assets/images/icons/UR.webp"
        alt="Ultra Rare"
      />
    </div>
    <img
      class="card-img"
      style="cursor: pointer"
      src="https://ygodraft.net/images/{{ card.card_id }}.webp"
      [alt]="card.card_name"
    />
  </div>
</div>

<app-card-modal [card]="card" [displayModal]="displayModal"></app-card-modal>
