/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--surface-b);
  font-family: var(--font-family);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:focus,
a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

:root {
  --rare-color: #0099ff;
  --super-rare-color: #f0f;
  --ultra-rare-color: #73ff3c;
  --secret-rare-color: #e5ff00;
}

.rare-color {
  color: var(--rare-color);
}

.ultra-rare-color {
  color: var(--ultra-rare-color);
}

.super-rare-color {
  color: var(--super-rare-color);
}

.secret-rare-color {
  color: var(--secret-rare-color);
}

/* Card rarity classes */
.rare-aura-hover:hover {
  box-shadow: var(--rare-color) 0px 0px 15px 7px;
}

.ultra-rare-aura-hover:hover {
  box-shadow: var(--ultra-rare-color) 0px 0px 15px 7px;
}

.super-rare-aura-hover:hover {
  box-shadow: var(--super-rare-color) 0px 0px 15px 7px;
}

.secret-rare-aura-hover:hover {
  box-shadow: var(--secret-rare-color) 0px 0px 15px 7px;
}

.rare-aura {
  box-shadow: var(--rare-color) 0px 0px 15px 7px;
}

.ultra-rare-aura {
  box-shadow: var(--ultra-rare-color) 0px 0px 15px 7px;
}

.super-rare-aura {
  box-shadow: var(--super-rare-color) 0px 0px 15px 7px;
}

.secret-rare-aura {
  box-shadow: var(--secret-rare-color) 0px 0px 15px 7px;
}

.rare-aura-small {
  box-shadow: var(--rare-color) 0px 0px 8px 4px;
}

.ultra-rare-aura-small {
  box-shadow: var(--ultra-rare-color) 0px 0px 8px 4px;
}

.super-rare-aura-small {
  box-shadow: var(--super-rare-color) 0px 0px 8px 4px;
}

.secret-rare-aura-small {
  box-shadow: var(--secret-rare-color) 0px 0px 8px 4px;
}

.wrapping-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.wrapping-list .wrapping-item {
  flex: 1;
}

.box {
  background-color: var(--surface-e);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}
