<div class="pack-card">
  <div class="flip-card" [class.selected]="card.selected">
    <div
      class="flip-card-inner"
      [class.flipped]="card.flipped"
      [class.rare-aura-hover]="card.set_rarity === 'Rare'"
      [class.super-rare-aura-hover]="card.set_rarity === 'Super Rare'"
      [class.ultra-rare-aura-hover]="card.set_rarity === 'Ultra Rare'"
      [class.secret-rare-aura-hover]="card.set_rarity === 'Secret Rare'"
      (click)="onCardClicked()"
    >
      <div class="flip-card-front">
        <img
          src="https://ygodraft.net/images/cardback.webp"
          alt="Yugioh Card"
        />
      </div>
      <div class="flip-card-back">
        <img
          src="https://ygodraft.net/images/{{ card.card_id }}.webp"
          [class.rare-aura]="card.set_rarity === 'Rare'"
          [class.super-rare-aura]="card.set_rarity === 'Super Rare'"
          [class.ultra-rare-aura]="card.set_rarity === 'Ultra Rare'"
          [class.secret-rare-aura]="card.set_rarity === 'Secret Rare'"
          [alt]="card.card_name"
        />
      </div>
    </div>
  </div>
  <div class="rarity">
    <span
      *ngIf="card.flipped"
      [class.rare-color]="card.set_rarity === 'Rare'"
      [class.super-rare-color]="card.set_rarity === 'Super Rare'"
      [class.ultra-rare-color]="card.set_rarity === 'Ultra Rare'"
      [class.secret-rare-color]="card.set_rarity === 'Secret Rare'"
      >{{ card.set_rarity }}
    </span>
  </div>
</div>

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [dismissableMask]="true"
  [showHeader]="false"
  [draggable]="false"
  [closable]="true"
  appendTo="body"
>
  <img
    src="assets/images/{{ card.card_id }}.webp"
    [alt]="card.card_name"
    loading="lazy"
  />
</p-dialog>
