<h3>{{ secretPack.set_name }}</h3>
<p-skeleton *ngIf="loading" width="100%" height="40px"></p-skeleton>

<div class="d-flex justify-content-start pack-options">
  <div>
    <div>Number of Packs</div>
    <p-inputnumber [(ngModel)]="numPacks" (ngModelChange)="calculateOdds()" />
  </div>

  <div>
    <div>Pity Pack</div>
    <p-checkbox
      [(ngModel)]="isPityPack"
      (onChange)="calculateOdds()"
      [binary]="true"
    ></p-checkbox>
  </div>

  <div>
    <div>Probability Type</div>
    <p-dropdown
      [options]="graphTypes"
      [(ngModel)]="selectedGraphType"
      (onChange)="calculateOdds()"
    ></p-dropdown>
  </div>
</div>

<p-skeleton *ngIf="loading" width="100%" height="600px"></p-skeleton>
<p-chart type="line" [data]="chartData.data" [options]="chartData.options">
</p-chart>

<div class="d-flex box my-3 align-items-end">
  <div>
    <div>Packs To Open</div>
    <p-inputnumber [(ngModel)]="packsToOpen" />
  </div>

  <p-button
    class="ms-3"
    label="Open Sample Packs"
    (onClick)="openPacks()"
  ></p-button>
</div>

<div class="wrapping-list box" style="justify-content: space-evenly">
  <app-master-duel-card
    *ngFor="let card of secretPack.cards"
    (nextCard)="nextCard(card)"
    (previousCard)="previousCard(card)"
    [card]="card"
  ></app-master-duel-card>
</div>
