.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.collection-select {
  position: relative;
  min-height: 200px;
}

.existing-collections {
  max-height: 300px;
  overflow-y: auto;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host ::ng-deep .collection-select {
  &.loading {
    opacity: 0.7;
  }
}
