<div class="header-container">
  <div>
    <div
      class="keys-container"
      [class.count-changed]="isCountChanged"
      *ngIf="numUnlockedSecretPacks > 0"
    >
      <i
        class="pi pi-key"
        style="color: yellow"
        pTooltip="{{ unlockedSecretPacks.join('\n') }}"
        tooltipPosition="right"
        [escape]="false"
        [showDelay]="100"
      ></i>
      x{{ numUnlockedSecretPacks }}
    </div>
  </div>
  <h3 class="pack-counter">{{ packsOpened }} / {{ packsToOpen }}</h3>
</div>

<div *ngIf="errorMessage" class="text-danger text-center">
  {{ errorMessage }}
</div>

<div class="cards-container">
  <app-secret-pack-card
    class="mx-2"
    *ngFor="let card of currentPack.slice(0, 4); let i = index"
    [card]="card"
    [index]="i"
    (onCardFlipped)="onCardFlipped()"
  ></app-secret-pack-card>
</div>
<div class="cards-container">
  <app-secret-pack-card
    class="mx-2"
    *ngFor="let card of currentPack.slice(4, 8); let i = index"
    [card]="card"
    [index]="i"
    (onCardFlipped)="onCardFlipped()"
  ></app-secret-pack-card>
</div>

<div class="d-flex justify-content-center mt-3">
  <button
    pButton
    type="button"
    label="Flip All"
    icon="pi pi-refresh"
    iconPos="left"
    class="p-button-secondary mx-1"
    [disabled]="allFlipped"
    (click)="flipAll()"
  ></button>
  <button
    pButton
    type="button"
    label="Next Pack"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened < packsToOpen"
    [disabled]="!allFlipped"
    (click)="nextPack()"
  ></button>
  <button
    pButton
    type="button"
    label="Skip"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened < packsToOpen"
    (click)="skip()"
  ></button>

  <!-- Finished Opening -->
  <p-splitButton
    *ngIf="packsOpened >= packsToOpen && allFlipped"
    [label]="'Open ' + selectedPackQuantity + ' more'"
    icon="pi pi-plus"
    [model]="packOptions"
    (onClick)="addMorePacks()"
    styleClass="p-button-success mx-1"
  ></p-splitButton>
  <button
    *ngIf="packsOpened >= packsToOpen && allFlipped"
    pButton
    type="button"
    label="Add to Collection"
    icon="pi pi-plus"
    (click)="finish()"
    [disabled]="loadingCollection"
    class="p-button-success mx-1"
  ></button>
</div>

<!-- Add collection selection dialog -->
<p-dialog
  [(visible)]="showCollectionDialog"
  [modal]="true"
  header="Choose Collection"
  [style]="{ width: '450px' }"
  [closable]="!loadingCollection"
>
  <div class="collection-select p-fluid">
    <div class="mb-3">
      <h5>Create New Collection</h5>
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          [(ngModel)]="newCollectionName"
          placeholder="Enter collection name"
        />
        <button
          pButton
          type="button"
          label="Create"
          [disabled]="!newCollectionName || loadingCollection"
          (click)="confirmCollection(undefined, newCollectionName)"
        ></button>
      </div>
    </div>

    <div *ngIf="collections.length > 0">
      <h5>Or Add to Existing Collection</h5>
      <div class="existing-collections">
        <div *ngFor="let collection of collections" class="mb-2">
          <button
            pButton
            type="button"
            [label]="collection.collection_name"
            [disabled]="loadingCollection"
            (click)="confirmCollection(collection.collection_id)"
            class="p-button-outlined w-full text-left"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <p-progressSpinner
    *ngIf="loadingCollection"
    [style]="{ width: '50px', height: '50px' }"
    styleClass="custom-spinner absolute-center"
  ></p-progressSpinner>
</p-dialog>
