<h3 class="mb-3 text-center">{{ packsOpened }} / {{ packsToOpen }}</h3>
<div *ngIf="errorMessage" class="text-danger">
  {{ errorMessage }}
</div>

<div class="cards-container">
  <app-secret-pack-card
    class="mx-2"
    *ngFor="let card of currentPack.slice(0, 4); let i = index"
    [card]="card"
    [index]="i"
    (onCardFlipped)="onCardFlipped()"
  ></app-secret-pack-card>
</div>
<div class="cards-container">
  <app-secret-pack-card
    class="mx-2"
    *ngFor="let card of currentPack.slice(4, 8); let i = index"
    [card]="card"
    [index]="i"
    (onCardFlipped)="onCardFlipped()"
  ></app-secret-pack-card>
</div>

<div class="d-flex justify-content-center mt-3">
  <button
    pButton
    type="button"
    label="Flip All"
    icon="pi pi-refresh"
    iconPos="left"
    class="p-button-secondary mx-1"
    [disabled]="allFlipped"
    (click)="flipAll()"
  ></button>
  <button
    pButton
    type="button"
    label="Next Pack"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened < packsToOpen"
    [disabled]="!allFlipped"
    (click)="nextPack()"
  ></button>
  <button
    pButton
    type="button"
    label="Skip"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened < packsToOpen"
    (click)="skip()"
  ></button>
  <button
    pButton
    type="button"
    label="Ok"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened >= packsToOpen"
    (click)="skip()"
  ></button>
</div>
