.pack {
  text-align: center;
  padding: 0.25rem 0;
}

.pack img {
  width: 123px;
  height: 226px;
  margin: 0 0.5rem;
}

.set-name {
  padding-top: 0.25rem;
  text-align: center;
  font-size: 13px;
}
