<header class="navbar navbar-expand-lg" role="banner">
  <div class="container-fluid">
    <div class="topbar-link">
      <a routerLink="/" style="font-size: 1.5rem"><strong>YGO Draft</strong></a>
    </div>

    <button
      pButton
      icon="pi pi-bars"
      class="p-button-text menu-button d-lg-none"
      (click)="toggleMenu()"
    ></button>

    <div class="spacer"></div>

    <ul class="topbar-menu" [class.show]="isMenuOpen">
      <li class="topbar-link">
        <a routerLink="/secretpacks" (click)="closeMenu()">Secret Packs</a>
      </li>
      <li class="topbar-link">
        <a routerLink="/classic" (click)="closeMenu()">Classic Sets</a>
      </li>
      <li class="topbar-link" *ngIf="isLoggedIn">
        <a routerLink="/collections" (click)="closeMenu()">Collections</a>
      </li>
      <li class="topbar-link">
        <a routerLink="/deckbuilder" (click)="closeMenu()">Deck Builder</a>
      </li>
    </ul>

    <div class="ms-2">
      <button
        *ngIf="!isLoggedIn"
        routerLink="/login"
        pButton
        type="button"
        label="Sign In"
      ></button>
      <button
        *ngIf="isLoggedIn"
        pButton
        (click)="logout()"
        class="p-button-text"
        type="button"
        label="Log Out"
      ></button>
    </div>
  </div>
</header>
