:host ::ng-deep .p-dialog {
  max-width: 90vw;
}

@media (max-width: 768px) {
  :host ::ng-deep .p-dialog {
    width: 95vw !important;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .modal-left {
    margin-bottom: 1rem;
    max-width: 300px;
  }

  .modal-right {
    margin-left: 0;
    max-width: 300px;
  }
}

.modal-left img {
  max-width: 100%;
  height: auto;
}

.modal-right {
  margin-left: 1rem;
  max-width: 400px;
}

.card-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-header-row img {
  width: 30px;
  height: 30px;
}
