<div class="d-flex justify-content-start filter-options box">
  <div>
    <h6>Search</h6>
    <input
      type="text"
      pInputText
      [(ngModel)]="filters.searchText"
      (ngModelChange)="search($event)"
    />
  </div>
  <div>
    <h6>Sort By</h6>
    <p-dropdown
      [options]="sortOptions"
      [(ngModel)]="sort"
      [autoDisplayFirst]="false"
      scrollHeight="300px"
      (onChange)="sortChange.emit(sort)"
    ></p-dropdown>
  </div>
  <div>
    <h6>Archetype</h6>
    <p-autoComplete
      [(ngModel)]="filters.archetype"
      [suggestions]="filteredArchetypes"
      (onChange)="filtersChanged()"
      [dropdown]="true"
      (completeMethod)="filterArchetypes($event)"
      scrollHeight="300px"
    ></p-autoComplete>
  </div>
  <div>
    <h6>Level</h6>
    <p-multiSelect
      [options]="levelOptions"
      [(ngModel)]="filters.levels"
      (onChange)="filtersChanged()"
      [showHeader]="false"
      scrollHeight="300px"
    ></p-multiSelect>
  </div>
  <div>
    <h6>Card Type</h6>
    <p-dropdown
      [options]="cardTypeOptions"
      [(ngModel)]="filters.type"
      (onChange)="filtersChanged()"
      [autoDisplayFirst]="false"
      [showClear]="true"
      scrollHeight="300px"
    ></p-dropdown>
  </div>
  <div>
    <h6>Type</h6>
    <p-dropdown
      [options]="raceTypeOptions"
      [(ngModel)]="filters.race"
      (onChange)="filtersChanged()"
      [autoDisplayFirst]="false"
      [showClear]="true"
      scrollHeight="300px"
    >
      <ng-template let-option pTemplate="item">
        <div class="option-value">
          <img [src]="'assets/images/icons/' + option.icon" class="icon" />
          <div>{{ option.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div>
    <h6>Attribute</h6>
    <p-dropdown
      [options]="attributeOptions"
      [(ngModel)]="filters.attribute"
      (onChange)="filtersChanged()"
      [autoDisplayFirst]="false"
      [showClear]="true"
      scrollHeight="300px"
    >
      <ng-template let-option pTemplate="item">
        <div class="option-value">
          <img [src]="'assets/images/icons/' + option.icon" class="icon" />
          <div>{{ option.label }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
