<div class="text-center pt-3 mb-3">
  <h2>{{ cardset }}</h2>
  <h4 *ngIf="isDrafting">Select 1 card per pack</h4>
  <h4 class="ms-2 text-muted">{{ packsOpened }} / {{ packsToOpen }}</h4>
</div>
<div class="cards-container">
  <app-pack-card
    *ngFor="let card of currentPack; index as i"
    [card]="card"
    [index]="i"
    [selectable]="isDrafting"
    (onCardFlipped)="onCardFlipped()"
    (onCardSelected)="onCardSelected($event)"
  ></app-pack-card>
</div>
<div class="d-flex justify-content-center mt-3">
  <button
    pButton
    type="button"
    label="Flip All"
    icon="pi pi-refresh"
    iconPos="left"
    class="p-button-secondary mx-1"
    [disabled]="allFlipped"
    (click)="flipAll()"
  ></button>
  <button
    pButton
    type="button"
    label="Next Pack"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened < packsToOpen"
    [disabled]="!canProgress"
    (click)="nextPack()"
  ></button>
  <button
    pButton
    type="button"
    label="Go to Collection"
    icon="pi pi-angle-right"
    iconPos="left"
    class="p-button mx-1"
    *ngIf="packsOpened >= packsToOpen"
    [disabled]="!canProgress"
    (click)="goToCollection()"
  ></button>
</div>
