<div class="box signin-box px-5">
  <h1 class="mb-4 text-center">Sign in</h1>
  <button class="mb-3" pButton type="button" (click)="login()">
    <div class="text-center w-100">
      <i class="pi pi-google p-button-icon p-button-icon-left"></i>
      <span class="p-button-label">Sign in with Google</span>
    </div>
  </button>
  <button class="mb-3" pButton type="button" disabled>
    <div class="text-center w-100">
      <i class="pi pi-twitter p-button-icon p-button-icon-left"></i>Sign in with
      Twitter
    </div>
  </button>
</div>
