<div class="d-flex justify-content-start draft-options">
  <div>
    <h6>Draft Mode</h6>
    <p-dropdown
      [options]="draftModeOptions"
      [(ngModel)]="draftOptions.draftMode"
      (onChange)="draftModeChanged()"
    ></p-dropdown>
  </div>
  <div>
    <h6>Packs</h6>
    <p-dropdown
      [options]="numPacksOptions"
      [(ngModel)]="draftOptions.numPacks"
      (onChange)="optionsChanged()"
      [disabled]="draftOptions.draftMode === 'Chaos Draft'"
    ></p-dropdown>
  </div>
  <div>
    <h6>Opening Method</h6>
    <p-dropdown
      [options]="openingOptions"
      [(ngModel)]="draftOptions.openingMethod"
      (onChange)="optionsChanged()"
      [disabled]="draftOptions.draftMode === 'Chaos Draft'"
    ></p-dropdown>
  </div>
  <p-button
    label="Open!"
    (onClick)="openPacks()"
    [disabled]="!canOpen"
    class="ms-auto my-auto"
  ></p-button>
</div>
